In [2]:
import pandas as pd
import numpy as np

In [3]:
# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
#Total Number of Players
number_of_players = (purchase_data["SN"]).value_counts()
total_players = pd.DataFrame({"Total Players":[number_of_players.count()]})
total_players

   Total Players
0            576

In [5]:
#Purchasing Analysis (Total)

#Number of Unique Items
unique_items = len(purchase_data["Item ID"].value_counts())

#Average Purchase Price
avg_purchase_price = purchase_data["Price"].mean()

#Total Number of Purchases
total_purchase = len(purchase_data["Purchase ID"].value_counts())

#Total Revenue
total_revenue = purchase_data["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
      "Average Price":[avg_purchase_price],
      "Number of Purchases":[total_purchase],
      "Total Revenue":[total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [6]:
#Gender Demographics
 
#Percentage and Count of Male Players
total_count = purchase_data["SN"].nunique()
male_count = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
male_perc = ((male_count/total_count)*100)

#Percentage and Count of Female Players
female_count = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
female_perc = ((female_count/total_count)*100)

#Percentage and Count of Other / Non-Disclosed
other_count = total_count - male_count - female_count
other_perc = ((other_count/total_count)*100)

summary_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [male_count, female_count, other_count], "Percentage of Players": [male_perc, female_perc, other_perc]},
                          columns =  ["Gender", "Total Count", "Percentage of Players"])
summary_df

                  Gender  Total Count  Percentage of Players
0                   Male          484              84.027778
1                 Female           81              14.062500
2  Other / Non-Disclosed           11               1.909722

In [7]:
#Purchasing Analysis (Gender)

#The below each broken by gender

male_price = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
female_price = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()
other_price = total_purchase - male_price - female_price
male_price_avg = purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean()
female_price_avg = purchase_data[purchase_data["Gender"] == "Female"]['Price'].mean()
other_price_avg = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
male_price_total = purchase_data[purchase_data["Gender"] == "Male"]['Price'].sum()
female_price_total = purchase_data[purchase_data["Gender"] == "Female"]['Price'].sum()
other_price_total = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
male_avg = male_price_total/male_count
female_avg = female_price_total/female_count
other_avg = other_price_total/other_count

#Purchase Count , Average Purchase Price, Total Purchase Value, Average Purchase Total per Person by Gender
summary_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [male_price, female_price, other_price],
                                        "Average Purchase Price": [male_price_avg, female_price_avg, other_price_avg], "Total Purchase Value": [male_price_total, female_price_total, other_price_total],
                                "Avg Total Purchase per Person": [male_avg, female_avg, other_avg]}, columns = 
                                        ["Gender", "Purchase Count","Average Purchase Price", "Total Purchase Value","Avg Total Purchase per Person"])

summary_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [18]:
#Age Demographics


#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels=group_labels)
age_group = purchase_data.groupby("Age Groups")

# Find how many rows fall into each bin
age_df = age_group["SN"].nunique()
age_df

percent_10 = round((age_df[0]/(number_of_players.count()))*100,2)
percent_14 = round((age_df[1]/(number_of_players.count()))*100,2)
percent_19 = round((age_df[2]/(number_of_players.count()))*100,2)
percent_24 = round((age_df[3]/(number_of_players.count()))*100,2)
percent_29 = round((age_df[4]/(number_of_players.count()))*100,2)
percent_34 = round((age_df[5]/(number_of_players.count()))*100,2)
percent_39 = round((age_df[6]/(number_of_players.count()))*100,2)
percent_40 = round((age_df[7]/(number_of_players.count()))*100,2)

summary_age_df = pd.DataFrame({"Age Group":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
                               "Total Count":[age_df[0], age_df[1], age_df[2],age_df[3], age_df[4], age_df[5], age_df[6], age_df[7]], 
                               "Percentage of Players":[percent_10, percent_14, percent_19, percent_24, percent_29, percent_34, percent_39, percent_40]}, 
                                columns = ["Age Group", "Total Count", "Percentage of Players"])
summary_age_df

  Age Group  Total Count  Percentage of Players
0       <10           17                   2.95
1     10-14           22                   3.82
2     15-19          107                  18.58
3     20-24          258                  44.79
4     25-29           77                  13.37
5     30-34           52                   9.03
6     35-39           31                   5.38
7       40+           12                   2.08

In [17]:
#Purchase Count
purchase_count = age_group["Price"].count()

#Average Purchase Price
avg_purchase_price = age_group["Price"].mean()

#Total Purchase Value
total_purchase_price = age_group["Price"].sum()

#Average Purchase Total per Person by Age Group
avg_total_per_person = age_group["Price"].sum() / age_group["SN"].nunique()


summary_df = pd.DataFrame({"Age Group":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                          "Purchase Count":[purchase_count[0], purchase_count[1], purchase_count[2], purchase_count[3], purchase_count[4],
                                           purchase_count[5], purchase_count[6], purchase_count[7]],
                          "Average Purchase Price":[avg_purchase_price[0], avg_purchase_price[1], avg_purchase_price[2], avg_purchase_price[3], avg_purchase_price[4],
                                           avg_purchase_price[5], avg_purchase_price[6], avg_purchase_price[7]],
                           "Total Purchase Price": [total_purchase_price[0], total_purchase_price[1], total_purchase_price[2], total_purchase_price[3], total_purchase_price[4],
                                           total_purchase_price[5], total_purchase_price[6], total_purchase_price[7]],
                           "Average Total Purchase Per Person":[avg_total_per_person[0], avg_total_per_person[1], avg_total_per_person[2], avg_total_per_person[3], avg_total_per_person[4],
                                           avg_total_per_person[5], avg_total_per_person[6], avg_total_per_person[7]]},
                           columns = ["Age Group","Average Purchase Price","Total Purchase Price","Average Total Purchase Per Person"])
summary_df

,Age Group,Average Purchase Price,Total Purchase Price,Average Total Purchase Per Person
0,<10,3.353478,77.13,4.537059
1,10-14,2.956429,82.78,3.762727
2,15-19,3.035956,412.89,3.858785
3,20-24,3.052219,1114.06,4.318062
4,25-29,2.900990,293.00,3.805195
5,30-34,2.931507,214.00,4.115385
6,35-39,3.601707,147.67,4.763548
7,40+,2.941538,38.24,3.186667

In [21]:
# Top Spenders

# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame


purchase_count=purchase_data.groupby(["SN"]).count()["Price"]
average_purchase_price =purchase_data.groupby(["SN"]).mean()["Price"]
total_purchase_price=purchase_data.groupby(["SN"]).sum()["Price"]

spender_summary=pd.DataFrame({"Purchase Count":purchase_count,
                          "Average Purchase":average_purchase_price,
                          "Total Purchase Value":total_purchase_price})
spender_summary.sort_values("Total Purchase Value",ascending=False).round(2).head()

             Purchase Count  Average Purchase  Total Purchase Value
SN
Lisosia93                 5              3.79                 18.96
Idastidru52               4              3.86                 15.45
Chamjask73                3              4.61                 13.83
Iral74                    4              3.40                 13.62
Iskadarya95               3              4.37                 13.10

In [28]:
# Most Popular Items
 
# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

item_id = purchase_data.groupby(purchase_data["Item ID"])

unique_items = item_id["Item ID"].unique()
item_name = item_id["Item Name"].unique()
item_purchase_count = item_id["Age"].count()
item_price = item_id["Price"].unique()
item_purchase_total = item_id["Price"].sum()

item_summary =pd.DataFrame({'Item ID':unique_items,
                'Item Name':item_name,
                'Item Price':item_price,
                'Item Count':item_purchase_count,
                'Total Purchase Value':item_purchase_total})

item_summary = item_summary.sort_values('Item Count', ascending=False)
item_summary_df = item_summary[['Item Name','Item Count','Item Price','Total Purchase Value']]
item_summary_df.head()

,Item Name,Item Count,Item Price,Total Purchase Value
Item ID,,,,
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
145,[Fiery Glass Crusader],9,[4.58],41.22
108,"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77
82,[Nirvana],9,[4.9],44.10
19,"[Pursuit, Cudgel of Necromancy]",8,[1.02],8.16

In [ ]:
# Most Profitable Items
 
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame

most_profit_items =item_summary.sort_values('Total Purchase Value', ascending=False)
most_profit_items.head()